* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hide{display: none !important;}
.fullsize{width: 100% !important;}
.padding0{padding: 0px !important;}

.lp-view img{
  width: 100%;
}
.transparent{
  background-color: transparent !important;
}
.lp-banners-white{
    padding-bottom: 70px;
    padding-top: 70px;
      display: table;
      position: relative;
      table-layout: fixed;
      width: 100%;
    color: black;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
  .lp-banners-white>h3{
    display: table-cell;
      vertical-align: middle;
      width: 100%;
      color: black;
      font-weight: bold;
      font-size: 35px;
}
.lp-banners{
    padding-bottom: 70px;
    padding-top: 70px;
    background: url(https://ssl.gstatic.com/atari/images/vision-header.jpg);
    background-size: cover;
      display: table;
      position: relative;
      table-layout: fixed;
      width: 100%;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.lp-banners>h3{
    display: table-cell;
      vertical-align: middle;
      width: 100%;
      color: white;
      font-weight: bold;
      font-size: 35px;
}
.lp-cover{
      padding-bottom: 70px;
    padding-top: 70px;
    background: url(https://ssl.gstatic.com/atari/images/vision-header.jpg);
    background-size: cover;
      display: table;
      position: relative;
      table-layout: fixed;
      width: 100%;
    text-align: center;
    height: 100vh;
      color: white;
    font-weight: bold;
    font-size: 35px;

}
.lp-cover>h3{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.padding10{
  padding: 10px;
}
.lp-title{
  display: block;
  height: 32px;
  background-color: #2fa3db;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  line-height: 32px;
  padding: 0 20px;
}
.width20{
  width: 20%;
}
.width25{
  width: 25%;
}
.width30{
  width: 30%;
}
.width33{
  width: 33.333333%;
}
.width40{
  width: 40%;
}
.width50{
  width: 50%;
}
.width60{
  width: 60%;
}
.width70{
  width: 70%;
}
.width80{
  width: 80%;
}
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}
.clr {
    clear: both;
}
.text-center{text-align: center;}
.text-right{text-align: right;}
